# db config
DB_ROOT_PASSWORD=your_root_password
DB_USERNAME=your_app_db_username
DB_PASSWORD=your_app_db_password

# springboot db config
SPRING_DATASOURCE_URL=jdbc:mysql://db:3306/yourdbname
SPRING_DATASOURCE_USERNAME=your_app_db_username
SPRING_DATASOURCE_PASSWORD=your_app_db_password