node_modules
.env
.parcel-cache
dist

HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
application.properties
application-dev.properties

### VS Code ###
.vscode/
.idea

### codeql ###
codeql-db